.logo {
    width: auto;
    height: 100%;
    filter: drop-shadow(0 0 2px white);
}

.menu__navBar {
    display: flex;
    column-gap: 40px;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
}

.menu__navBar li {
    list-style: none;
    font-size: 18px;
    text-shadow: 0 0 10px rgba(255, 253, 253, 0.5);
}

.menu__navBarMobile {
    display: none;
}

@media (max-width: 769px) {
    .menu__navBar {
        display: none;
    }

    .menu__navBarMobile {
        display: block;
    }

    .menu__mobileIcon,
    .menu__mobileIcon::before,
    .menu__mobileIcon::after {
        content: "";
        width: 28px;
        height: 2px;
        background-color: #ffffff;
        transition: transform 0.3s, opacity 0.3s;
    }

}