@charset "utf8";

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.774);
}

.colorSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    transform: rotate(90deg);
    position: fixed;
    z-index: 10;
    left: 94%;
    top: 50%;
}

.colorSelect input {
    width: 80px;
}