@charset "utf8";

.home {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;    
    background-image: url('bgHome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__img {
    z-index: 1;
    max-width: 550px;
    width: min(18vw, 550px);
    height: auto;
}

.home__title {
    z-index: 2;
    margin-left: -3.5vw;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home__title_h1 {
    font-size: min(7.187vw, 137px);
    letter-spacing: 0.05em;
    font-weight: 700;
}

.home__title_h2 {
    margin-top: -15px;
    font-size: min(3.49vw, 67px);
    letter-spacing: 0.218em;
    font-weight: 600;
    padding-left: 2px;
}

.home__title_p {
    font-size: min(1.406vw, 27px);
    font-weight: 500;
    letter-spacing: 0.06em;
}

.iluminacao {
    opacity: 30%;
    left: 85%;
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 100%;
    filter: blur(6em);
}

@media (max-width: 1023px) {
    .home {
        height: 70vh;
    }
}

@media (max-width: 769px) {
    .home {
        height: 100%;
        padding: 8em 0;
        flex-direction: column;
    }

    .home__img {
        width: min(40vw, 250px);
    }
    
    .home__title {
        margin: 0;
    }

    .home__title_h1 {
        font-size: min(12vw, 137px);
    }

    .home__title_h2 {
        margin: 0;
        font-size: min(5.9vw, 67px);
    }

    .home__title_p {
        font-size: min(3.406vw, 20px);
        text-wrap: wrap;
    }
}