@charset "utf8";

.about {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('./bgAbout.jpg');
    background-size: cover;
    padding: 0 0 8em 0;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
}

.aboutContent__tile {
    font-size: min(5.333vw, 64px);
    font-weight: 700;
}


.aboutContent__subTite {
    font-size: min(5.333vw, 40px);
    font-weight: 700;
}

.aboutContent__text {
    font-size: 27px;
    text-align: center;
    font-weight: 500;
    padding: 3em 2em;
}
.aboutContent__skillCards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em 0;
    gap: 1.5em;
}

.iluminacao {
    position: absolute;
    top: 20%;
    opacity: 28%;
    width: 60%;
    height: 50%;
    border-radius: 100%;
    filter: blur(6em);
    z-index: -1;
}

@media (max-width: 769px) {
    .about {
        padding: 0 0 8em 0;
    }
}