.projects{    
    width: 100%;
    background-image: url('./projeosSection.jpg');    
    background-size: contain;
}

.projects__bgModifier {
    width: auto;
    height: 100%;
    padding-bottom: 4em;
}

.projects__list {
    display: flex;
    justify-content: center;
    gap: 3.5em;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1920px;
    padding: 2em 3em;
}

.projectList__title {
    font-size: min(3.333vw, 64px);
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
    padding: 1.7em 0;
}