.contact {    
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 1em 10em 1em;
    background-image: url('./bgContact.jpg');    
}

.contact__title {
    font-size: min(5.333vw, 64px);
    font-weight: 700;
    text-align: center;
}

.contact__subTitle {
    font-size: min(5.333vw, 40px);
    font-weight: 300;
    padding: 1em 0;
    text-align: center;
}

.contact__text {
    font-size: 18.6px;
    text-align: center;
}

.contact__container {
    display: flex;
    gap: 1.5em;
    max-width: 1024px;
    margin-top: 1.5em;
}
.contact__socials {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.iluminacao {
    opacity: 30%;
    right: 90%;
    position: absolute;
    width: 70%;
    height: 87%;
    border-radius: 100%;
    filter: blur(6em);
}



@media (max-width: 1025px) {
    .contact__container {
        flex-direction: column;
        max-width: 768px;
        padding: 0 2.3em;
    }

    .contact__socials {
        padding-top: 1em;
        width: 100%;
    }

    .contact__text {
        width: 100%;
    }
}

@media (max-width: 769px) {
    
    .contact__container {
        padding: 0 0;
    }
}